modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5173
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 4200

[[ports]]
localPort = 8084
externalPort = 5173

[[ports]]
localPort = 8085
externalPort = 6800

[[ports]]
localPort = 8090
externalPort = 8008

[[ports]]
localPort = 24213
externalPort = 3000

[[ports]]
localPort = 24214
externalPort = 3001

[[ports]]
localPort = 24215
externalPort = 3003

[[ports]]
localPort = 24216
externalPort = 5000

[[ports]]
localPort = 24217
externalPort = 6000

[nix]
channel = "stable-25_05"
packages = ["stripe-cli"]

[userenv]

[userenv.shared]
ADMIN_USER_IDS = "user_3CJVOZeKfc34SewQ6qIigupXWtF,user_3CJUpflldvFEo545CBPnmN5yRmI"
VITE_ADMIN_USER_IDS = "user_3CJVOZeKfc34SewQ6qIigupXWtF,user_3CJUpflldvFEo545CBPnmN5yRmI"

[userenv.development]
CLERK_PUBLISHABLE_KEY = "pk_test_bG92ZWQtb3dsLTQuY2xlcmsuYWNjb3VudHMuZGV2JA"
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_bG92ZWQtb3dsLTQuY2xlcmsuYWNjb3VudHMuZGV2JA"
ADMIN_EMAILS = "panvezys@gmail.com"

[userenv.production]
CLERK_PUBLISHABLE_KEY = "pk_live_Y2xlcmsua29ydHMubHQk"
VITE_CLERK_PUBLISHABLE_KEY = "pk_live_Y2xlcmsua29ydHMubHQk"
